{
    "presets": [
      "@babel/preset-env"
    ],
    "plugins": [
        "istanbul",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-syntax-bigint",
        "@babel/plugin-proposal-numeric-separator"
    ]
      
  }